/* Dark Theme Customization */

body {
  background-color: #333;
  color: #fff;
}

.admin-container {
  padding: 1rem;
  background-color: #444;
  margin-top: 3rem;
}

.admin-button-container {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 1rem;
}

.table {
  width: 100%;
  border-collapse: collapse;
}

.locked-column {
  width: 150px;
}

.login-container {
  background-color: #444;
}

.login-form-container.glass-morphism {
  max-width: 400px;
  padding: 30px;
  border-radius: 5px;
  background-color: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(8px);
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-shadow: 0px 2px 5px rgba(255, 255, 255, 0.1);
}

.login-title {
  text-align: center;
  margin-bottom: 20px;
}

.login-subtitle {
  text-align: center;
  color: #ccc;
  margin-bottom: 15px;
}

.text-muted {
  font-size: 0.8rem;
  color: #999;
}

.form-check-label {
  font-weight: normal;
  color: #ccc;
}

.register-container {
  background-color: #444;
}

.register-form-container.glass {
  max-width: 400px;
  padding: 30px;
  border-radius: 5px;
  background-color: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(8px);
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-shadow: 0px 2px 5px rgba(255, 255, 255, 0.1);
}

.register-title {
  text-align: center;
  margin-bottom: 20px;
}

.register-subtitle {
  text-align: center;
  color: #ccc;
  margin-bottom: 15px;
}

.product-list-container {
  padding: 1rem;
  backdrop-filter: blur(8px);
  border: 1px solid rgba(255, 255, 255, 0.1);
  box-shadow: 0px 2px 5px rgba(255, 255, 255, 0.05);
  margin-top: 3%;
}

.search-and-filter {
  width: 100%;
  max-width: 700px;
}

.category-dropdown {
  background-color: #555;
}

.home-page {
  padding-top: 5rem;
  padding-bottom: 2rem;
}

.hero-section {
  background-color: #333;
  padding: 5rem 0;
}

.hero-image img {
  width: 100%;
  height: auto;
}

.hero-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.featured-products h2 {
  text-align: center;
  color: #ccc;
}

.custom-slider-image {
  max-height: 400px;
  object-fit: cover;
  padding: 7pt;
}